@using dotnet.Model
@using dotnet.Services.Cookie
@using dotnet.Services.Database
@model User
@inject ICookie icookie
@inject SQL sql

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.User_Account = Model.Account;
    ViewData["Title"] = "Home";
    ViewData["1"] = "View Data Test";
    ViewData["2"] = "The Double Test";
    ViewData["3"] = "The Triple Test";
    ViewData["4"] = "Not Any More Test";
}
@functions{
    public string msg = $"ID = ";
}

<div style="background-color: #cccccc;">
    <h2>主视图</h2>
    <h3>这里放登录后的主页面</h3>
    <h3>@msg @Model.ID</h3>
    <h3 id="test">{{msg}}</h3>
    <div>@Html.Partial("_PartialView",new Dictionary<string,string>(){{"Title","The first title"},{"Content","the first content"}})</div>
    <div>@Html.Partial("_PartialView",new Dictionary<string,string>(){{"Title","The second title"},{"Content","the second content"}})</div>
    <div>@Html.Partial("_PartialView",new Dictionary<string,string>(){{"Title","The third title"},{"Content","the third content"}})</div>
</div>
<script>
    var vue = new Vue({
        el:"#test",
        data:{
            msg:"ID = @Model.ID"
        }
    });
</script>
