@using WebViewServer.Models.User
@using WebViewServer.Services
@model UserInfo
@inject Dictionary<string,string> _dict



<header>

		<div class="nav-header bg-white">
            <div class="nav-top">
                <a><span class="d-inline-block fredoka-font ls-3 fw-600 font-xxl logo-text mb-0">Circle. </span></a>
                <!-- 缩小后顶部图标 -->
                @* <a href="#" class="mob-menu ms-auto me-2 chat-active-btn"><i class="feather-message-circle text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <a href="#" class="me-2 menu-search-icon mob-menu"><i class="feather-search text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <button class="nav-menu me-0 ms-2"></button> *@
            </div>
            <!-- 搜索框 -->
            <form onkeypress="javascript:void(0);" class="float-left header-search">
                <div class="form-group mb-0 icon-input self-dropdown">
                    <i class="feather-search font-sm text-grey-400"></i>
                    <input onkeypress="javascript:void(0);" id ="search" type="text" placeholder="Start typing to search.." class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl w350 theme-dark-bg" 
                    aria-label="Search" value='@ViewData["searchString"]'>
					<ul id="searchResult" class="self-dropdown-block" style="position:fixed;width:203.6px">
            
                    </ul>
				</div>
            </form>
            
            <!-- 个人信息 -->
			<div class="form-inline">
                <div class="self-dropdown">
					<a href=# class="p-0 ms-3 menu-icon">
						<img src="@Model.HeadImage" alt="user" class="drop"
							 style="border-radius: 100px; height: 40px;width: 40px;float: right;">
						<ul class="self-dropdown-block" style="position:fixed;float: right;transform:translate(25%, 0); top:48px;right:3rem">
							<li class="self-dropdown-item">@Model.NickName</li>
							<li class="self-dropdown-item">个人信息</li>
							<li class="self-dropdown-item">设置</li>
							<li class="self-dropdown-item" id="logout">注销</li>
						</ul>
					</a>
				</div>
            </div>
							           
        </div>
	
	
	@* <nav class="navbar navbar-expand-md navbar-light box-shadow" style="background-color: white;">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
					aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/SelectCircle">@_dict["Circle"]</a>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link" href="/Home#Home/Posts">主页</a>
						<!--<span class="sr-only">(current)</span></a>-->
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/Home#PrivateChat">私聊</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/Home#TagTree">标签树</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">


					<div class="self-dropdown" style="position: relative;">
						<input id="search" class="form-control mr-sm-2 btn" type="text" placeholder="Search"
							   aria-label="Search" style="border-color: lightgray;" value='@ViewData["searchString"]'>
						<ul id="searchResult" class="self-dropdown-block"
							style="position:fixed;width:203.6px">
						</ul>
					</div>


					<input type="button" id="searchButton" class="btn btn-outline-info my-2 my-sm-0" value="🔍" />
				</form>

				<div class="form-inline">
					<div class="self-dropdown">
						<img src="@Model.HeadImage" class="drop"
							 style="border-radius: 100px; height: 40px;width: 40px;float: right;">
						<ul class="self-dropdown-block" style="position:fixed;float: right;transform:translate(25%, 0); top:48px;right:3rem">
							<li class="self-dropdown-item">@Model.NickName</li>
							<li class="self-dropdown-item">个人信息</li>
							<li class="self-dropdown-item">设置</li>
							<li class="self-dropdown-item" id="logout">注销</li>
						</ul>

					</div>
				</div>



			</div>

		</div>
	</nav> *@
</header>
