@using WebViewServer.Models
@using WebViewServer.Models.Post
@using WebViewServer.Models.User
@using WebViewServer.Services
@model Post
@inject User _user
@inject PostService _postService
@inject UserService _userService
@{
	UserInfo authorInfo = await _postService.SelectAuthorInfo(Model);
	ICollection<Tag> tags = await _postService.SelectTags(Model);

	bool isFocus = await _userService.IsUserRelationExist(_user, new User(authorInfo.ID), "Type","Focus");
	var likeCollectCommentCount = await _postService.SelectLikeCollectCommentCount(Model);
	var isLikeOrCollect = await _postService.SelectIsLikeOrCollect(Model, _user);
}

@* <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
	<div class="card-body p-0 d-flex ">
		<a href="" target="_blank" class="feed-head-pic" style="border-radius: 1px;">
			<img src="@authorInfo.HeadImage">
		</a>
		<p> <strong class="ml-2 mr-2">@authorInfo.NickName</strong> <a ID="@authorInfo.ID" isfocus="@isFocus.ToString()" href="javascript:void(0)"
					class="tag-label selected"><i class="icon-nc-check"></i>
					+ 关注
				</a>
		</p>
		<h4 class="fw-700 text-grey-900 font-xssss mt-1">Surfiya Zakir  <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">3 hour ago</span></h4> 
	</div>
	<div class="card-body p-0 me-lg-5">
		<p class="fw-500 text-grey-500 lh-26 font-xssss w-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus <a href="#" class="fw-600 text-primary ms-2">See more</a></p>
	</div>
	<div class="card-body d-flex p-0 mt-3">
			<!-- 点赞收藏 -->
		<a href="#" class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2"><i class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i> <i class="feather-heart text-white bg-red-gradiant me-2 btn-round-xs font-xss"></i>2.8K Like</a>
		<!-- 评论 -->
		<a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span class="d-none-xss">22 Comment</span></a>
		<!-- 分享 -->
		<a href="#" id="dropdownMenu21" data-bs-toggle="dropdown" aria-expanded="false" class="ms-auto d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-share-2 text-grey-900 text-dark btn-round-sm font-lg"></i><span class="d-none-xs">Share</span></a>
		<div class="dropdown-menu dropdown-menu-end p-4 rounded-xxl border-0 shadow-lg" aria-labelledby="dropdownMenu21">
			<h4 class="fw-700 font-xss text-grey-900 d-flex align-items-center">Share <i class="feather-x ms-auto font-xssss btn-round-xs bg-greylight text-grey-900 me-2"></i></h4>
			<!-- 图标 -->
			<div class="card-body p-0 d-flex">
				<ul class="d-flex align-items-center justify-content-between mt-2">
					<li class="me-1"><a href="#" class="btn-round-lg bg-tumblr"><i class="font-xs ti-tumblr text-white"></i></a></li>
					<li class="me-1"><a href="#" class="btn-round-lg bg-youtube"><i class="font-xs ti-youtube text-white"></i></a></li>
					<li class="me-1"><a href="#" class="btn-round-lg bg-flicker"><i class="font-xs ti-flickr text-white"></i></a></li>
					<li class="me-1"><a href="#" class="btn-round-lg bg-black"><i class="font-xs ti-vimeo-alt text-white"></i></a></li>
					<li><a href="#" class="btn-round-lg bg-whatsup"><i class="font-xs feather-phone text-white"></i></a></li>
				</ul>
			</div>
			<h4 class="fw-700 font-xssss mt-4 text-grey-500 d-flex align-items-center mb-3">Copy Link</h4>
			<i class="feather-copy position-absolute right-35 mt-3 font-xs text-grey-500"></i>
			<input type="text" value="https://socia.be/1rGxjoJKVF0" class="bg-grey text-grey-500 font-xssss border-0 lh-32 p-2 font-xssss fw-600 rounded-3 w-100 theme-dark-bg">
		</div>
	</div>
</div>  *@

<div class="feed-item-box clearfix col-md-12">
	<a href="" target="_blank" class="feed-head-pic"  ">
		<img style="border-radius:100px;" src="@authorInfo.HeadImage">
	</a>

	<div class="feed-item-bd">
		<div class="feed-hd-info">
			<p> 
				<strong class="ml-2 mr-2">@authorInfo.NickName</strong> 
				<a ID="@authorInfo.ID" isfocus="@isFocus.ToString()" href="javascript:void(0)"
					class="tag-label selected"><i class="icon-nc-check"></i>
					+ 关注
				</a>
				<span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500" style="padding-left:40px" >3 hour ago</span>
			</p>

		</div>
		<div class="nc-post-content">			
			<div class="feed-title">
				<span class="text-black" >@Model.Title</span>
			</div>
			<a href="javascript:void(0);">
				<div class="feed-cont">
					<div>
						<span style="color: rgb(37, 187, 155);">#@Model.Focus#</span>
						<span color=#696969 >@Model.Summary ...</span>
					</div>
				</div>
			</a>
			<div class="post-content">
				<input type="button" postid="@Model.ID" value="查看全文" jump="" class="btn btn-link font-green"
					style="cursor:pointer;width:90px;">
			</div>
		</div>
		<!---->
		<div class="feed-tags">

			@foreach (var tag in tags)
			{
				<div class="tagNode">@await Html.PartialAsync("Tag",tag)</div>
			}

		</div>

		<div class="more" >
			<div title="点赞" class="like" isLike='@isLikeOrCollect["IsLike"]' postid="@Model.ID">
				<div class="icon">👍</div> 
				<div class="sm-font count">@likeCollectCommentCount["LikeCount"]</div>
			</div>
			<div title="收藏" class="collect" isCollect='@isLikeOrCollect["IsCollect"]' postid="@Model.ID">
				<div class="icon">📂</div>
				<div class="sm-font count">@likeCollectCommentCount["CollectCount"]</div>
			</div>
			<div title="评论" class="comment" postid="@Model.ID" author-name="@authorInfo.NickName" post-title="@Model.Title">
				<div class="icon">💬</div>
				<div class="sm-font count">@likeCollectCommentCount["CommentCount"]</div>
			</div>
		</div>

	</div>
	
	<div class="comment-mount">

	</div>
	
</div>
