@using WebViewServer.Models.User
@model UserInfo
<aside>

    <div class="sidebar-container col-md-12">
        <button class="btn">三</button>
        <div class="first">
            <div class="self-info">
                <div class="head-image">
                    <img src="/StaticFiles/Images/1.jpg">
                    @Model.HeadImage
                </div>
                <div class="nick-name col-md-12">
                    @Model.NickName
                </div>
                <div class="year-seciality col-md-12">
                    @Model.SchoolYear.Year 级 @Model.Speciality
                </div>
                <div class="introduction col-md-12">
                    @Model.Introduction
                </div>
            </div>
            <div class="self-info">
                <div class="my-tags">
                    @await Html.PartialAsync("MyInterestedTags")
                </div>
            </div>
        </div>
        
    </div>
</aside>
